* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.container {
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-bar {
  background-color: #4CAF50;
  height: 60px;
}

.back-link {
  display: block;
  margin: 20px 0;
  padding-left: 20px;
  color: #4CAF50;
  text-decoration: none;
}

h2 {
  font-size: 1.2em;
  margin: 0 20px 20px;
}

.section {
  margin-bottom: 30px;
  padding: 0 20px;
}

.input-group {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 2vw;
}

.postal-code-group {
  display: flex;
  gap: 10px;
}

.postal-code-group input {
  width: 45%;
}

.card-inputs input {
  width: 100%;
  margin-top: 10px;
}

.payment-method {
  margin-bottom: 20px;
}

.syousai {
  background-color: rgb(158, 161, 163);
  display: flex;
  align-items: flex-start;
  padding: 20px;
  border-radius: 8px;
  margin: 2vw;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-image {
  margin-top: -2.2vh;
  width: 7vw;
  height: 14vh;
}

.product-details {
  flex: 1;
}

.product-details p {
  margin: 5px 0;
  color: #333;
}

.controls {
  display: flex;
  align-items: center;
  /* gap: 10px; */
  margin-top: 10px;
}

#hello {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
}


.delete-button {
  background-color: #555050;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #d32f2f;
}


.submit-button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin:1vw;
}

.submit-button:hover {
  background-color: #45a049;
}

.submit{
  display:flex;
  justify-content:center;
}

#postal-code{
  margin-left: 2vw;
  margin-right: 1vw;
  height: 5vh;
  width: 10vw;
}

#postal-code2{
  margin-left: 1vw;
  width: 10vw;
  height: 5vh;
}

#last-name{
  margin-left: 2vw;
  width: 20vw;
}

#first-name{
  margin-left: 2vw;
  width: 20vw;
}

#last-name-kana{
  margin-left: 2vw;
  width: 20vw;
}

#first-name-kana{
  margin-left: 2vw;
  width: 20vw;
}

#prefecture{
  margin-left: 2vw;
  width: 20vw;
}
#address{
  margin-left: 2vw;
  width: 20vw;
}

#street{
  margin-left: 2vw;
  width: 15vw;
}
#building{
  margin-left: 2vw;
  width: 20vw;
}

#phone{
  margin-left: 2vw;
  width: 20vw;
}

.gyokuro{
  margin-right: 1vw; 
}