
.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    background-color: rgba(0, 106, 127, 0.817);
    box-sizing: border-box;
    align-items: center;
    justify-content: left;
    height: 10vh;
}

.title{ 
    align-items: center;
    display: flex;
     margin-right: 40vw;
     margin-left: 1vw;
}

.title-search{
    background-color:  rgba(2, 100, 120, 0.817);
    padding: 0.7vh;
    border: none;
}

main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

nav {
    width: 18vw;
    background-color: rgb(215, 215, 215);
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    border: none;
}

.home {
    width: 100%;
    height: 6vh;
    border: none;
    margin-top: 0.5vh;
    margin-left: 0.3vw;
    font-size: 1.5vw;
}

.stock {
    width: 100%;
    height: 6vh;
    border: none;
    margin-top: 0.5vh;
    margin-left: 0.3vw;
    font-size: 1.5vw;
}

.goods {
    width: 100%;
    height: 6vh;
    border: none;
    margin-top: 0.5vh;
    margin-left: 0.3vw;
    font-size: 1.5vw;
}

.member {
    width: 100%;
    height: 6vh;
    border: none;
    margin-top: 0.5vh;
    margin-left: 0.3vw;
    font-size: 1.5vw;
}

.authority {
    width: 100%;
    height: 6vh;
    border: none;
    margin-top: 0.5vh;
    margin-left: 0.3vw;
    font-size: 1.5vw;
}

.flex-content {
    flex-grow: 1;
    background-color: rgb(215, 215, 215);
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    border: none;
}

.stock-container{
    background-color: #ffffff;
    margin: 0.5vw;
    margin-bottom: 0;
    width: 100%;
    height: 100vh;
}

h2 {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 2vw;
    margin-left: 3vw;
}

header h1 {
    width: 20vw;
    height: auto;
    margin: 1px;
    font-size: 2vw;
}

.list{
    display: flex;
    padding-top: 4vh;
    margin-left: 2vw;
}

.stock-list{
    background-color: rgba(0, 106, 127, 0.817);
    padding-left: 2vw;
    padding-top: 0.4vh;
    padding-right: 0.2vw;
    padding-bottom: 0.2vw;
    margin-right: 0.7vw;
    margin-bottom: 1vh;
    width: 20vw;
}

.stock-list2{
    background-color: #ffffff;
    color: rgba(0, 106, 127, 0.817);
    padding-left: 1vw;
    width: 17.8vw;
}

.OCHAZON {
    width: 8vw;
    height: 8vh;
    object-fit: cover;
    padding-bottom: 1.5vh;
}

.notice {
    width: 5vw;
    height: 5vh;
    object-fit: cover;
}

.user {
    width: 5vw;
    height: 5vh;
    object-fit: cover;
}


.home:hover{
    background-color: rgb(116, 116, 116);
}

.stock:hover{
    background-color: rgb(116, 116, 116);
}

.goods:hover{
    background-color: rgb(116, 116, 116);
}

.member:hover{
    background-color: rgb(116, 116, 116);
}

.authority:hover{
    background-color: rgb(116, 116, 116);
}

select,option{
    background-color: rgb(227, 227, 227);
    border: #9d9d9d 1px inset;
    color: rgb(85, 85, 255);
    margin-top: 0.2vh;
}

.search-box{
    display: flex;
    margin-left: 2vw;
}

.search{
    margin-left: 1vw;
    margin-right: 1vw;
    background-color: rgba(0, 106, 127, 0.817);
    border: none;
    color:#ffffff ;
}

.site-search{
    width: 15vw;
}