<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/reset.css" type="text/css">
    <link rel="stylesheet" href="../style/authority_style.css" type="text/css">
    <title>管理システム ログイン</title>
</head>

<body>
    <di class="app">
        <header>
            <img src="../images/OCHAZON.png" alt="ロゴ画像" class="OCHAZON">
            <h1>管理システム</h1>
            <input type="search" id="site-search" name="site-search" placeholder="search" />
            <img src="../images/notice.png" alt="通知画像" class="notice">
            <img src="../images/user.png" alt="ユーザー画像" class="user">
        </header>
        <main>
            <nav >
            <form action="home_admin.html">
                <input type="submit" value="ホーム" class="home"><br>
            </form>

            <form action="stock_management.html">
                <input type="submit" value="在庫管理" class="stock"><br>
            </form>

            <form action="goods_management.html">
                <input type="submit" value="商品管理" class="goods"><br>
            </form>

            <form action="member_management.html">
                <input type="submit" value="会員管理" class="member"><br>
            </form>

            <form action="authority_management.html">
                <input type="submit" value="権限管理" class="authority"><br>
            </form>
            </nav>
            
            <div class="flex-content">
                <h2>権限管理</h2>
                <div class="authority-container">
                    <div class="sub-back">
                        <div class="sub-back2">
                            <label for="all">全権管理者</label><br>
                        </div>
                    </div>
                    
                    <div class="sub-back3">
                        <div class="sub-back4">
                            <label for="general">一般管理者</label>
                        </div>
                    </div>
                    
                </div>
            </div>

        </main>
</body>

</html>