<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/style.css">
    <title>ユーザー管理画面</title>
</head>

<body>
    <di class="app">
        <header>
            <h1>ヘッダー</h1>
        </header>
        <main>
            <nav>
                <h1>サイドバー</h1>
            </nav>
            
            <div class="flex-content">
                <h1>コンテンツ</h1>
            </div>

        </main>
</body>

</html>