<!DOCTYPE html>
<html lang="ja">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>OCHAZON</title>
     <link rel="stylesheet" href="../style/style.css">
</head>

<body>
     <div class="header_root">
          <div class="header_left">
               <a href="./home.html" class="header"><img src="../images/rogo.png" alt="ホームアイコン" width="200px"></a>
          </div>
          <div class="header_center">
               <form method="get" action="飛ぶページ">
                    <input name="search" type="text" class="search" placeholder="キーワードを入力"><input type="submit"
                         value="検索">
               </form>
          </div>
          <div class="header_right">
               <a href="#cart" class="header"><img src="../images/cart.png" alt="カートアイコン" width="100"
                         height="100"></a>
               <a href="#user" class="header"><img src="../images/user.png" alt="ユーザーアイコン" width="100"
                         height="100"></a>
          </div>
     </div>


     <div class="home_slider1">
          <div class="home_slider1_images">
               <img src="../images/sample.jpg" alt="ホームお茶１">
               <img src="../images/sample2.jpg" alt="ホームお茶2">
               <img src="../images/sample3.jpg" alt="ホームお茶3">
          </div>
     </div>

     <div class="Jtea_title_home">日本茶イラスト</div>
     <br>
     <hr class="home_line">

     <div class="home_tea_element_container">
          <div class="home_tea_element">
               <a href="./ocha.php"><img src="../images/日本茶イラスト/玉露イラスト.jpg" alt="玉露" class="home_tea_element_img"></a>
               <a href="./ocha.php">
                    <p class="tea_text">玉露</p>
          </div></a>
          <div class="home_tea_element">
               <img src="../images/日本茶イラスト/煎茶イラスト.jpg" alt="煎茶" class="home_tea_element_img">
               <p class="tea_text">煎茶</p>
          </div>
          <div class="home_tea_element">
               <img src="../images/日本茶イラスト/番茶イラスト.png" alt="番茶" class="home_tea_element_img">
               <p class="tea_text">番茶</p>
          </div>
          <div class="home_tea_element">
               <img src="../images/日本茶イラスト/ほうじ茶イラスト.png" alt="ほうじ茶" class="home_tea_element_img">
               <p class="tea_text">ほうじ茶</p>
          </div>
          <div class="home_tea_element">
               <img src="../images/日本茶イラスト/抹茶イラスト.png" alt="抹茶" class="home_tea_element_img">
               <p class="tea_text">抹茶</p>
          </div>
          <div class="home_tea_element">
               <img src="../images/日本茶イラスト/茎茶イラスト.png" alt="茎茶" class="home_tea_element_img">
               <p class="tea_text">茎茶</p>
          </div>
          <div class="home_tea_element">
               <img src="../images/日本茶イラスト/粉茶イラスト.png" alt="粉茶" class="home_tea_element_img">
               <p class="tea_text">粉茶</p>
          </div>
          <div class="home_tea_element">
               <img src="../images/日本茶イラスト/玄米茶イラスト.png" alt="玄米茶" class="home_tea_element_img">
               <p class="tea_text">玄米茶</p>
          </div>
          <div class="home_tea_element">
               <img src="../images/日本茶イラスト/麦茶イラスト.png" alt="麦茶" class="home_tea_element_img">
               <p class="tea_text">麦茶</p>
          </div>
     </div>

     <div class="other_tea_title_home">中国茶</div>
     <br>
     <hr class="home_line">

     <div class="home_tea_element_container">
          <div class="home_tea_element">
               <img src="../images/中国茶イラスト/プーアル茶.png" alt="プーアル茶" class="home_tea_element_img">
               <p class="tea_text">プーアル茶</p>
          </div>
          <div class="home_tea_element">
               <img src="../images/中国茶イラスト/烏龍茶.png" alt="烏龍茶" class="home_tea_element_img">
               <p class="tea_text">烏龍茶</p>
          </div>
          <div class="home_tea_element">
               <img src="../images/中国茶イラスト/杜仲茶.png" alt="杜仲茶" class="home_tea_element_img">
               <p class="tea_text">杜仲茶</p>
          </div>
          <div class="home_tea_element">
               <img src="../images/中国茶イラスト/ジャスミン茶.png" alt="ジャスミン茶" class="home_tea_element_img">
               <p class="tea_text">ジャスミン茶</p>
          </div>
          <div class="home_tea_element">
               <img src="../images/中国茶イラスト/中国緑茶.png" alt="中国緑茶" class="home_tea_element_img">
               <p class="tea_text">中国緑茶</p>
          </div>
          <div class="home_tea_element">
               <img src="../images/中国茶イラスト/フー茶.png" alt="フー茶" class="home_tea_element_img">
               <p class="tea_text">フー茶</p>
          </div>
          <div class="home_tea_element">
               <img src="../images/中国茶イラスト/白茶.png" alt="白茶" class="home_tea_element_img">
               <p class="tea_text">白茶</p>
          </div>
          <div class="home_tea_element">
               <img src="../images/中国茶イラスト/中国紅茶.png" alt="中国紅茶" class="home_tea_element_img">
               <p class="tea_text">中国紅茶</p>
          </div>
          <div class="home_tea_element">
               <img src="../images/中国茶イラスト/花茶.png" alt="花茶" class="home_tea_element_img">
               <p class="tea_text">花茶</p>
          </div>

     </div>

     <div class="other_tea_title_home">紅茶</div>
     <br>
     <hr class="home_line">

     <div class="other_tea_title_home">その他</div>
     <br>
     <hr class="home_line">




</body>

</html>