<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OCHAZON</title>
  <link rel="stylesheet" href="/user/style/style.css">
</head>

<body>
  <div class="header_root">
    <div class="header_left">
      <a href="./home.html" class="header"><img src="/user/images/ヘッダー関連/ロゴ.png" alt="ホームアイコン" width="200px"></a>
    </div>
    <div class="header_center">
      <form method="get" action="飛ぶページ">
        <input name="search" type="text" class="search" placeholder="キーワードを入力"><input type="submit" value="検索">
      </form>
    </div>
    <div class="header_right">
        <a href="#cart" class="header"><img src="/user/images/ヘッダー関連/カート.png" alt="カートアイコン" width="100" height="100"></a>
        <a href="#user" class="header"><img src="/user/images/ヘッダー関連/ユーザー.png" alt="ユーザーアイコン" width="100" height="100"></a>
    </div>
  </div>

  
<div class="ocha_page"><!--↓↓ヘッダーより下↓↓-->

  <div class="vheader"><!--左のやつ-->
    あ
  </div><!--左のやつ-->

  <div class="ocha_vertical"><!--縦-->

  <div class="ocha_pagetop"><!--お茶の説明-->

    <div class="top_sentence"><!--サンプル以外-->
    <div class="ocha_introduction"><!--説明文章-->
    <div class="ocha_pagetitle">お茶種類</div>
    <hr class="ocha_line">
    <!-- 解説　↓ -->
    <div class="ocha_explanation">ーーーーーーーーーー説明文ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーひらがなカタカナ漢字</div>
    </div><!--説明文章-->
    </div><!--サンプル以外-->
    <div class="ocha_sample"><!--トップのサンプル-->
      <img src="../images/種類別商品一覧/お茶サンプル1.png">
      <img src="../images/種類別商品一覧/お茶サンプル2.png">
      <img src="../images/種類別商品一覧/お茶サンプル3.png"></div><!--トップのサンプル-->

  </div><!--お茶の説明-->

  <div class="ranking"><!--ランキング-->
    <div class="ranking_title">ランキング</div>
    <div class="ranking_img"><!--画像-->
      <div class="ranking_element">
        <img src="../images/種類別商品一覧/ランキング1.png">
        <p class="ranking_text">そのいち</p></div>
      <div class="ranking_element">
        <img src="../images/種類別商品一覧/ランキング2.png">
        <p class="ranking_text">そのに</p></div>
      <div class="ranking_element">
        <img src="../images/種類別商品一覧/ランキング3.png">
        <p class="ranking_text">そのさん</p></div>
      <div class="ranking_element">
        <img src="../images/種類別商品一覧/ランキング4.png">
        <p class="ranking_text">そのよん</p></div>
      <div class="ranking_element">
        <img src="../images/種類別商品一覧/ランキング5.png">
        <p class="ranking_text">そのご</p></div>
    </div><!--画像-->
  </div><!--ランキング-->

  <div class="ocha_list">

    <div class="line1">
    <div class="list_commodity">
      <img src="../images/種類別商品一覧/お茶.png" class="list_img">
      <p class="list_name">1</p>
      <a href="./cart_in.html"><p class="list_cartbtn">カートに入れる</p></a></div>
    <div class="list_commodity">
      <img src="../images/種類別商品一覧/お茶.png" class="list_img">
      <p class="list_name">2</p><a href="./cart_in.html"><p class="list_cartbtn">カートに入れる</p></a></div>
    <div class="list_commodity">
      <img src="../images/種類別商品一覧/お茶.png" class="list_img">
      <p class="list_name">3</p><a href="./cart_in.html"><p class="list_cartbtn">カートに入れる</p></a></div>
    <div class="list_commodity">
      <img src="../images/種類別商品一覧/お茶.png" class="list_img">
      <p class="list_name">4</p><a href="./cart_in.html"><p class="list_cartbtn">カートに入れる</p></a></div>
    <div class="list_commodity">
      <img src="../images/種類別商品一覧/お茶.png" class="list_img">
      <p class="list_name">5</p><a href="./cart_in.html"><p class="list_cartbtn">カートに入れる</p></a></div>
    </div>

    <div class="line1">
      <div class="list_commodity">
        <img src="../images/種類別商品一覧/お茶.png" class="list_img">
        <p class="list_name">6</p><a href="./cart_in.html"><p class="list_cartbtn">カートに入れる</p></a></div>
      <div class="list_commodity">
        <img src="../images/種類別商品一覧/お茶.png" class="list_img">
        <p class="list_name">7</p><a href="./cart_in.html"><p class="list_cartbtn">カートに入れる</p></a></div>
      <div class="list_commodity">
        <img src="../images/種類別商品一覧/お茶.png" class="list_img">
        <p class="list_name">8</p><a href="./cart_in.html"><p class="list_cartbtn">カートに入れる</p></a></div>
      <div class="list_commodity">
        <img src="../images/種類別商品一覧/お茶.png" class="list_img">
        <p class="list_name">9</p><a href="./cart_in.html"><p class="list_cartbtn">カートに入れる</p></a></div>
      <div class="list_commodity">
        <img src="../images/種類別商品一覧/お茶.png" class="list_img">
        <p class="list_name">10</p><a href="./cart_in.html"><p class="list_cartbtn">カートに入れる</p></a></div>
      </div>

      <div class="line1">
        <div class="list_commodity">
          <img src="../images/種類別商品一覧/お茶.png" class="list_img">
          <p class="list_name">11</p><a href="./cart_in.html"><p class="list_cartbtn">カートに入れる</p></a></div>
        <div class="list_commodity">
          <img src="../images/種類別商品一覧/お茶.png" class="list_img">
          <p class="list_name">12</p><a href="./cart_in.html"><p class="list_cartbtn">カートに入れる</p></a></div>
        <div class="list_commodity">
          <img src="../images/種類別商品一覧/お茶.png" class="list_img">
          <p class="list_name">13</p><a href="./cart_in.html"><p class="list_cartbtn">カートに入れる</p></a></div>
        <div class="list_commodity">
          <img src="../images/種類別商品一覧/お茶.png" class="list_img">
          <p class="list_name">14</p><a href="./cart_in.html"><p class="list_cartbtn">カートに入れる</p></a></div>
        <div class="list_commodity">
          <img src="../images/種類別商品一覧/お茶.png" class="list_img">
          <p class="list_name">15</p><a href="./cart_in.html"><p class="list_cartbtn">カートに入れる</p></a></div>
        </div>

        <div class="line1">
          <div class="list_commodity">
            <img src="../images/種類別商品一覧/お茶.png" class="list_img">
            <p class="list_name">16</p><a href="./cart_in.html"><p class="list_cartbtn">カートに入れる</p></a></div>
          <div class="list_commodity">
            <img src="../images/種類別商品一覧/お茶.png" class="list_img">
            <p class="list_name">17</p><a href="./cart_in.html"><p class="list_cartbtn">カートに入れる</p></a></div>
          <div class="list_commodity">
            <img src="../images/種類別商品一覧/お茶.png" class="list_img">
            <p class="list_name">18</p><a href="./cart_in.html"><p class="list_cartbtn">カートに入れる</p></a></div>
          <div class="list_commodity">
            <img src="../images/種類別商品一覧/お茶.png" class="list_img">
            <p class="list_name">19</p><a href="./cart_in.html"><p class="list_cartbtn">カートに入れる</p></a></div>
          <div class="list_commodity">
            <img src="../images/種類別商品一覧/お茶.png" class="list_img">
            <p class="list_name">20</p><a href="./cart_in.html"><p class="list_cartbtn">カートに入れる</p></a></div>
          </div>

          <div class="line1">
            <div class="list_commodity">
              <img src="../images/種類別商品一覧/お茶.png" class="list_img">
              <p class="list_name">21</p><a href="./cart_in.html"><p class="list_cartbtn">カートに入れる</p></a></div>
            <div class="list_commodity">
              <img src="../images/種類別商品一覧/お茶.png" class="list_img">
              <p class="list_name">22</p><a href="./cart_in.html"><p class="list_cartbtn">カートに入れる</p></a></div>
            <div class="list_commodity">
              <img src="../images/種類別商品一覧/お茶.png" class="list_img">
              <p class="list_name">23</p><a href="./cart_in.html"><p class="list_cartbtn">カートに入れる</p></a></div>
            <div class="list_commodity">
              <img src="../images/種類別商品一覧/お茶.png" class="list_img">
              <p class="list_name">24</p><a href="./cart_in.html"><p class="list_cartbtn">カートに入れる</p></a></div>
            <div class="list_commodity">
              <img src="../images/種類別商品一覧/お茶.png" class="list_img">
              <p class="list_name">25</p><a href="./cart_in.html"><p class="list_cartbtn">カートに入れる</p></a></div>
            </div>

  </div>

  </div><!--縦-->

  </div><!--↑↑ヘッダーより下↑↑-->

</body>